/* FONTS + VARIABLES + BODY LAYOUT */

@font-face {
    font-family: "hero-txt";
    src: url(fonts/Norse-Bold.otf);
}

@font-face {
    font-family: "general-font";
    src: url(fonts/Lato-Black.ttf);
}

:root {
    --section-gray: #f9fafb;
    --btn-green: #596D48;
    --form-border-active: #aab9e4;
    --form-border-valid: #596D48;
    --form-border-invalid: #de9494;
    --form-bg-valid: #cbf5dd;
}

* {
    padding: 0;
    margin: 0;
    line-height: 1.25;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    font-family: "general-font";
}

/* HERO IMG SECTION */

#hero-img-cont {
    width: 35%;
    position: relative;
}

#odin-logo, #hero-txt {
    position: absolute;
    display: block;
    opacity: 1;
}

#odin-logo {
    width: 100px;
    height: auto;
    left: 170px;
    top: 7px;
}

#hero-txt {
    font-family: "hero-txt", sans-serif;
    font-size: 110px;
    color: white;
    left: 280px;
    top: 20px;
}

#logo-cont {
    position: absolute;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 150px;
    top: 200px;
}

#author-txt {
    margin: 0;
    position: absolute;
    bottom: 15px;
    left: 250px;
}

#author-txt, #author-link {
    color: white;
    opacity: 0.9;
}

#hero-img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100vh;
}

/* TOP AND BOTTOM RIGHT SIDE SECTIONS */

#right-side-cont {
    display: flex;
    flex-direction: column;
    width: 65%;
}

#desc-cont, #button-cont {
    background-color: var(--section-gray);
    height: 35%;
}

#desc-cont {
    padding: 125px 450px 30px 50px;
}

#desc-cont > p {
    font-size: 25px;

}

#desc-cont > p:last-child {
    padding-top: 25px;
}

#button-cont {
    padding: 30px 0 0 50px;
}

#sbm-btn {
    font-family: inherit;
    font-size: 20px;
    width: 250px;
    padding: 15px;
    border: 1px solid var(--btn-green);
    border-radius: 7px;
    box-shadow: 5px 5px 5px lightgray;
    color: white;
    background-color: var(--btn-green);
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

#sbm-btn:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease-in;
}

#button-cont > p > a {
    text-decoration: none;
    color: var(--btn-green);
}

#button-cont > p {
    padding-top: 20px;
    font-size: 20px;
}

/* FORM */

#sign-up {
    height: 30%;
    padding: 30px 50px;
    display: flex;
    gap: 150px;
    box-shadow: inset 0 -15px 10px -10px lightgray;
}

#form-title {
    padding: 30px 50px 0;
    font-size: 25px;
}

.form-column {
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    font-size: 14px;
    opacity: 0.8;
    letter-spacing: 1.25px;
}

input {
    margin-bottom: 25px;
    margin-top: 3px;
    width: 300px;
    height: 10px;
    border: 2px solid rgb(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 10px;
    font-size: 15px;
    font-family: inherit;
    background-color: transparent;
    transition: background-color 0.5s ease-out;
}

input:invalid:focus {
    outline-color: var(--form-border-active);
}

input:valid {
    border: 2px solid var(--form-border-valid);
    background-color: var(--form-bg-valid);
    transition: background-color 0.5s ease-in;
}

input:user-invalid {
    border: 2px solid var(--form-border-invalid);
}

